/* =============================
   HERO
============================= */
.hero {
  height: 100vh;
  padding-top: 86px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hero__title {
  flex: 1;
  overflow: hidden;
  display: flex;
  padding-bottom: 20px;
  align-items: flex-end;
}

.hero__tagline {
  font-family: 'Anton', sans-serif;
  font-size: 20vw;
  font-weight: 400;
  line-height: 0.85;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  padding: 0 10px;
}
